:root {
  --back-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #468;
  background-image: url("./assets/cat-band-bg.jpg");
  background-blend-mode: multiply;
  background-size: 500px;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: "Poiret One", sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

#cat-band {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
  width: 100%;
  height: 80vh;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

#close-btn {
  position: fixed;
  color: #fff;
  top: 15px;
  right: 15px;
}

#close-btn i {
  color: #fff;
  transition: opacity 0.5s;
}

#close-btn i:hover {
  opacity: 0.75;
}

#drum-machine {
  width: 450px;
  gap: 15px;
  border-radius: 10px;
  background-color: #000;
  border: 0.5px solid #ccc;
  transition: all 0.5s;
  margin-top: 10vh;
}

#display {
  width: 330px;
  height: 60px;
  color: #fff;
  border: 1px solid #fff;
  justify-content: center;
  border-radius: 3px;
}

#display p {
  align-self: center;
  margin-top: 5px;
}

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 0.5px solid #fff;
  border-radius: 3px;
}

.drum-pad p {
  position: relative;
  bottom: 15px;
  right: -38px;
}

.cat {
  width: 70px;
  z-index: -1;
  margin-left: 5px;
  margin-top: 12px;
}

#clarinet-cat {
  margin-top: 3px;
  width: 65px;
}

#drums-cat {
  margin-top: 20px;
}

#percussion-cat {
  margin-top: 20px;
}

#vibraphone-cat,
#percussion-cat,
#piano-cat {
  margin-left: -3px;
}

.drum-pad:hover .cat,
.playing .cat {
  filter: invert(100%);
}

.stop-button {
  width: 100px;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  margin-left: calc(100% - 125px);
  border: 0.5px solid #fff;
}

.playing,
.drum-pad:hover,
.stop-button:focus {
  color: #fff !important;
  background-color: transparent !important;
  border-color: 0.5px solid #fff !important;
  outline: 0 !important;
}

.paused,
.stop-button:hover {
  color: var(--back-color) !important;
  background-color: #fff !important;
  outline: 0 !important;
}

#footer {
  width: 450px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  transition: width 0.5s;
}

#footer a {
  color: #fff;
  text-decoration: underline 0.5px #fff;
  transition: text-decoration-color 0.5s opacity 0.5s;
  text-underline-offset: 2px;
}

#footer a:hover {
  text-decoration: underline 0.5px #ffffff00;
  opacity: 0.75;
}

#grace-link {
  text-align: left;
}

@media only screen and (max-width: 550px), (max-height: 600px) {
  body {
    background-size: 800px;
  }

  #drum-machine {
    transform: scale(0.7);
    transform-origin: 0%;
    margin-left: calc(50% - 155px) !important;
    margin-top: -10vh !important;
  }

  #footer {
    width: calc(0.7 * 450px);
    margin-top: -80px;
    padding: calc(0.7 * 10px);
    font-size: 12px;
  }
}

@media only screen and (max-height: 348px) {
  #drum-machine {
    margin-top: 100vh !important;
    padding-top: 30vh;
  }

  #footer {
    padding-bottom: 30vh;
  }
}

@media only screen and (min-height: 750px) {
  body {
    background-size: 800px;
  }
}
